<p>Привет, {{name}}!</p>

<p>Спасибо за регистрацию!</p>

<p>Пожалуйста, перейдите по следующей ссылке, чтобы подтвердить свой адрес электронной почты:</p>

<a href="{{url}}">{{url}}</a>

<p>Если вы не регистрировались, проигнорируйте это письмо.</p>
